<div class="col-md-12 form-control">
  <app-statistic></app-statistic>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Название задачи</th>
        <th scope="col">Категория</th>
        <th scope="col">Дата начала</th>
        <th scope="col">Дата окончания</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Task 1</td>
        <td>Category 1</td>
        <td>23:11 23.04.2004</td>
        <td >18:27 15.06.2004</td>
      </tr>
      <tr>
        <td>Task 2</td>
        <td>Category 2</td>
        <td>23:11 23.04.2004</td>
        <td>18:27 15.06.2004</td>
      </tr>
      <tr>
        <td>Task 3</td>
        <td>Category 3</td>
        <td>23:11 23.04.2004</td>
        <td>18:27 15.06.2004</td>
      </tr>
      <tr>
        <td>Task 4</td>
        <td>Category 4</td>
        <td>23:11 23.04.2004</td>
        <td>18:27 15.06.2004</td>
      </tr>
      <tr>
        <td>Task 5</td>
        <td>Category 5</td>
        <td>23:11 23.04.2004</td>
        <td>18:27 15.06.2004</td>
      </tr>
    </tbody>
  </table>
</div>
