<div>
  <table class="table table-dark">
    <tbody>
    <tr>
      <td>Всего задачь: {{tasksAll}}</td>
      <td>Запланированно: {{tasksPlanned}}</td>
      <td>Выполнено: {{tasksFinished}}</td>
      <td>Просрочено: {{tasksOverdue}}</td>
    </tr>
    </tbody>
  </table>
</div>
